.thumbnail {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.offer {
  box-shadow: 0 0 20px lightgray;
  background-color: white;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 2vh;
  transition: box-shadow 1s;
  cursor: pointer;
}

.offer:hover {
  box-shadow: 0 0 20px;
}

.no-side-padding {
  padding-left: 0;
  padding-right: 0;
}
