<div class="row offer">
  <div class="col-md-3 no-side-padding">
    <img src="{{offer.imageUrl}}"
         class="thumbnail" alt="Image">
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-10">
        {{offer.title}}
      </div>
      <div class="col-md-2">
        {{offer.price}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        {{offer.address}}
      </div>
      <div class="col-md-4">
        {{offer.numberOfRooms}}
      </div>
      <div class="col-md-4">
        {{offer.area}}
      </div>
    </div>
  </div>
</div>
