<div class="row">
  <div class="col-md-6">
    <table class="table table-hover">
      <tbody>
      <tr>
        <th>Average</th>
        <td>{{commonStatistics.average}}</td>
      </tr>
      <tr>
        <th>Min</th>
        <td>{{commonStatistics.min}}</td>
      </tr>
      <tr>
        <th>Max</th>
        <td>{{commonStatistics.max}}</td>
      </tr>
      <tr>
        <th>Median</th>
        <td>{{commonStatistics.median}}</td>
      </tr>
      <tr>
        <th>Standard deviation</th>
        <td>{{commonStatistics.standardDeviation}}</td>
      </tr>
      <tr>
        <th>Variance</th>
        <td>{{commonStatistics.variance}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
